
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.center{
    margin: 0 auto;
    max-width: 1480px;
    padding: 0 2%;
    
}
header{
    display: flex;
    height: 70px;
   
}
.logo{
    margin-top: 10px;
    width: 70%;
    text-align: left;
    
}
.menu{
    display: flex;
    text-align: right;
    width: 30%;
    margin-top: 20px;
}
.menu ul{
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
}

.menu ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(109, 107, 107);
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    margin-left: 20px;
}
.menu ul li:hover{
    color: rgb(255, 163, 87) ;
}
.btn-mobile{
    display: none;
}
section{
    display: flex;
    width: 100%;
    height: 100%;
}
.gradie1{
    width: 70%;
}
.container img{
    width: 100%;
    display: block;
}

.subsection{
    margin-top: 20px;
    display: flex; 
    height: 100%;
}
.titulo{
    display: flex;
    justify-content: left;
    width: 55%;
    
   
    
}
.titulo h1{
    font-size: 70px;
    height: 100%;
    text-align: left;
    margin-right: 5%;
    -webkit-text-stroke-width: 0.5px;

}
.descricao{
    width: 50%;
}
.descricao p {
    margin-top: 20px;
    color: rgb(136, 136, 136) ;
}
.descricao button{
        width: 180px;
        height: 50px;
        padding: 5px;
        color: white;
        background-color:rgb(245, 144, 61);
        -webkit-text-stroke-width: 0.5px;
        cursor: pointer;
        border: none;
        letter-spacing: 5px;
        margin-top: 10%;
    } 
.descricao button:hover{
        background-color: black;
    }
    .gradie2{  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-left: 30px;
    background-color: rgb(2, 0, 31);
    width: 30%;
    padding: 2%;
}
.titulo_new{
   
    color: rgb(245, 144, 61);
    font-size: 40px;
    margin-bottom: 20px ;
}
.line{
    margin-top: 20px ;
    margin-bottom: 50px;
    border-bottom: 2px solid rgba(231, 231, 231, 0.603);
}
.box h3{
    margin-bottom: 10px;
}
.box h3:hover{
    color: rgb(245, 144, 61);
    cursor: pointer;
}
.box p{
    color: rgba(255, 255, 255, 0.568);
}
.section_tema{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    
   
}
.tema{
    display: flex;
}
.img_tema{
    display: flex;
    justify-content: left;
}
.img_tema img{
    width: 100%;
    height: 100%;
}
.tema_desc{ width: 100%;
   padding: 0% 2%;
}
.tema_desc h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgba(170, 169, 169, 0.527);
}
.tema_desc h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ;
}
.tema_desc p{
    height: 100%;
    width: 100%;
    margin-top: 10px;
    line-height: 25px;
    color: rgb(136, 136, 136) ;
}
.tema:last-child{
    justify-content: right;   
}

@media screen and (max-width : 600px) {

    .btn-mobile img{
        cursor: pointer;
        margin-top: 20px;
        width: 15%;
        height: 45%;
        background: none;
        
    }
    .menu{
       position: absolute;
       width: 70%;
       height: 100%;
       top: 50px;
       right:  0;
       display: block;
       text-align: left;
       display: none;
       background-color: white;
       padding: 5% 2%;
      
    }
    .menu ul {
        display: block;
        margin-top: 20px;
        
    }
    .menu ul li{
        margin-top: 20px;
        font-size: 25px;
        border-bottom: 2px solid rgb(204, 202, 202);
    }
    .menu ul li:hover{
        color: rgb(255, 163, 87);
    }
    .btn-mobile{
        width: 50%;
        display: flex;
        text-align: right;
        justify-content: right;
    }
    .active .menu{
        
        display: block;
    }
    section{
        
        width: 100%;
        display: inline-block;
    }
    .gradie1{
        width: 100%;
    }
    .container img{
        height: 320px;
    }
    .subsection{
        width: 100%;
        display: inline-block;
    }
    .titulo{
        display: inline-block;
        width: 100%;    
    }
    .titulo h1{
        font-size: 50px;
    }
    .descricao{
        width: 100%;
    }
    .descricao p{
        line-height: 30px;
    }
    .descricao button{
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .gradie2{
        width: 100%;
        display: inline-block;
        margin-left: 0%;
        margin-bottom: 60px;
        padding: 5% 5%;
    }
    .titulo_new{
        color: rgb(245, 144, 61);
        font-size: 40px;
        margin-bottom: 0% ;
    }
    .section_tema{
        display: block;
        margin-top: 0%;
    }
    .tema{
        
        padding: 5% 0;
    }
    .img_tema img{
        width: 100%;
    }
}